{% load staticfiles %} {% load app_filters %} {% load static %}

{% include "nav.html" %}
<script	src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<style>
.tss table {  
    color: #333; /* Lighten up font color */
    font-family: Helvetica, Arial, sans-serif; /* Nicer font */
    width: 640px; 
    border-collapse: 
    collapse; border-spacing: 0; margin-left: 100px;
}
.tss td { border: 1px solid #CCC; height: 30px; } /* Make cells a bit taller */
.tss td {  
    background: #FAFAFA; /* Lighter grey background */
    text-align: center; /* Center our text */
}
</style>
<div class="check_in" style="width:1170px;margin-right:auto;margin-left:auto;">

<h1> Patients Check-In </h1>
<hr style="border-top: 1px solid #DDD;"></hr>

<form action="" method="POST" autocomplete="off"> {% csrf_token %}
<div class="container" style="margin-top:30px">
<div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">
  <div class="panel-heading"><h3 class="panel-title"><strong>Please confirm your identity </strong></h3>  </div>
  
  <div class="panel-body">

{% if form.errors %}
<p> Please correct the following error{{form.errors | pluralize}} below. </p>
{% endif %}
            <div class="row">
    		<div class="col-xs-12 col-sm-4 col-md-4">
			<div class="form-group">

                        {{form.firstname.errors}}
			</div>
		</div>
                <div class="col-xs-12 col-sm-4 col-md-4">
    			<div class="form-group">
                        {{form.lastname.errors}}
			</div>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-4">
			<div class="form-group">
			{{form.ssn.errors}}
			</div>
		</div>
	   </div>
{% if cred %}
	   <div class="form-group">
			{{cred}}
	   </div>
{% endif %}
            <div class="row">
    		<div class="col-xs-12 col-sm-4 col-md-4">
			<div class="form-group">
                        {{form.firstname}}
			</div>
		</div>
                <div class="col-xs-12 col-sm-4 col-md-4">
    			<div class="form-group">
                        {{form.lastname}}
			</div>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-4">
			<div class="form-group">
			{{form.ssn}}
			</div>
		</div>
	   </div>
  <button type="submit" id="apt_button" class="btn btn-success">Search my appointment</button>
  
<!--{{form.firstname}}-->


 <!--<button type="submit" class="btn btn-success" name="_test">Check-In</button>-->
 

</div>
</div>
</div>
</div>
</form>

{% if appointment_details %}
<script > 
	$(document).ready(function() { 
		$('#apt_button').prop('disabled', true);
	});
</script>
<form action="update_info/{{patient_id}}" method="GET" autocomplete="off"> {% csrf_token %}
<div class="container" style="margin-top:30px">
 <div class="col-md-10 col-md-offset-1">
  <div class="panel panel-default">
   <div class="panel-heading"><h3 class="panel-title"><strong>Your Appointment Details </strong></h3>  
   </div>
   <div class="panel-body tss" >

	<table>
       {% for a_d in appointment_details %}
	<tr><td>Name</td><td>{{a_d.firstname}} {{a_d.lastname}}</td></tr>
	<tr><td>Scheduled Time</td><td>{{a_d.scheduled_time}}</td></tr>
	<tr><td>Duration</td><td>{{a_d.duration}} minutes</td></tr>
	<tr><td>Status</td><td>{{a_d.status}}</td></tr>
	<tr><td>Reason</td><td>{{a_d.reason}}</td></tr>
	{% endfor %}
	</table>     
   </br>
   <button type="submit" class="btn btn-success" style="margin-left: 100px;" name="_test2">Check-In</button>
 
   </div>
  </div>
 </div>
</div>
{% endif %}

</form>
<div>
